/* ALTURAS */

.h-100-v {
   height: 100vh;
}


.h-5 {
   height: 5%;
}
.h-10 {
   height: 10%;
}
.h-15 {
   height: 15%;
}
.h-20 {
   height: 20%;
}
.h-25 {
   height: 25%;
}
.h-30 {
   height: 30%;
}
.h-35 {
   height: 35%;
}
.h-40 {
   height: 40%;
}
.h-45 {
   height: 45%;
}
.h-50 {
   height: 50%;
}
.h-55 {
   height: 55%;
}
.h-60 {
   height: 60%;
}
.h-65 {
   height: 65%;
}
.h-70 {
   height: 70%;
}
.h-75 {
   height: 75%;
}
.h-80 {
   height: 80%;
}
.h-85 {
   height: 85%;
}
.h-90 {
   height: 90%;
}
.h-95 {
   height: 95%;
}
.h-100 {
   height: 100%;
}




@media screen and (max-width: 767px) {

   .h-xs-10 {
      height: 10%;
   }
   .h-xs-20 {
      height: 20%;
   }
   .h-xs-30 {
      height: 30%;
   }
   .h-xs-40 {
      height: 40%;
   }
   .h-xs-50 {
      height: 50%;
   }
   .h-xs-60 {
      height: 60%;
   }
   .h-xs-70 {
      height: 70%;
   }
   .h-xs-80 {
      height: 80%;
   }
   .h-xs-90 {
      height: 90%;
   }
   .h-xs-100 {
      height: 100%;
   }

}


@media screen and (min-width: 768px) {

   .h-sm-10 {
      height: 10%;
   }
   .h-sm-20 {
      height: 20%;
   }
   .h-sm-30 {
      height: 30%;
   }
   .h-sm-40 {
      height: 40%;
   }
   .h-sm-50 {
      height: 50%;
   }
   .h-sm-60 {
      height: 60%;
   }
   .h-sm-70 {
      height: 70%;
   }
   .h-sm-80 {
      height: 80%;
   }
   .h-sm-90 {
      height: 90%;
   }
   .h-sm-100 {
      height: 100%;
   }

}


@media screen and (min-width: 992px) {

   .h-md-10 {
      height: 10%;
   }
   .h-md-20 {
      height: 20%;
   }
   .h-md-30 {
      height: 30%;
   }
   .h-md-40 {
      height: 40%;
   }
   .h-md-50 {
      height: 50%;
   }
   .h-md-60 {
      height: 60%;
   }
   .h-md-70 {
      height: 70%;
   }
   .h-md-80 {
      height: 80%;
   }
   .h-md-90 {
      height: 90%;
   }
   .h-md-100 {
      height: 100%;
   }

}


@media screen and (min-width: 1200px) {

   .h-lg-10 {
      height: 10%;
   }
   .h-lg-20 {
      height: 20%;
   }
   .h-lg-30 {
      height: 30%;
   }
   .h-lg-40 {
      height: 40%;
   }
   .h-lg-50 {
      height: 50%;
   }
   .h-lg-60 {
      height: 60%;
   }
   .h-lg-70 {
      height: 70%;
   }
   .h-lg-80 {
      height: 80%;
   }
   .h-lg-90 {
      height: 90%;
   }
   .h-lg-100 {
      height: 100%;
   }

}
