.color-background {
  color: #FF7E7E !important;
}

.color-background-bg {
  background-color: #FF7E7E !important;
}

.color-background-bd {
  border: 1px solid white;
  border-color: #FF7E7E !important;
}

.color-background-hover:hover {
  color: #FF7E7E !important;
}

.color-background-hover-bg:hover {
  background-color: #FF7E7E !important;
}

.color-background-hover-bd:hover {
  border: 1px solid white;
  border-color: #FF7E7E !important;
}

.color-text {
  color: #040D00 !important;
}

.color-text-bg {
  background-color: #040D00 !important;
}

.color-text-bd {
  border: 1px solid white;
  border-color: #040D00 !important;
}

.color-text-hover:hover {
  color: #040D00 !important;
}

.color-text-hover-bg:hover {
  background-color: #040D00 !important;
}

.color-text-hover-bd:hover {
  border: 1px solid white;
  border-color: #040D00 !important;
}

.color-primary-0 {
  color: #DF0B56 !important;
}

.color-primary-0-bg {
  background-color: #DF0B56 !important;
}

.color-primary-0-bd {
  border: 1px solid white;
  border-color: #DF0B56 !important;
}

.color-primary-0-hover:hover {
  color: #DF0B56 !important;
}

.color-primary-0-hover-bg:hover {
  background-color: #DF0B56 !important;
}

.color-primary-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #DF0B56 !important;
}

.color-primary-1 {
  color: #ED7AA2 !important;
}

.color-primary-1-bg {
  background-color: #ED7AA2 !important;
}

.color-primary-1-bd {
  border: 1px solid white;
  border-color: #ED7AA2 !important;
}

.color-primary-1-hover:hover {
  color: #ED7AA2 !important;
}

.color-primary-1-hover-bg:hover {
  background-color: #ED7AA2 !important;
}

.color-primary-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #ED7AA2 !important;
}

.color-primary-2 {
  color: #E4417B !important;
}

.color-primary-2-bg {
  background-color: #E4417B !important;
}

.color-primary-2-bd {
  border: 1px solid white;
  border-color: #E4417B !important;
}

.color-primary-2-hover:hover {
  color: #E4417B !important;
}

.color-primary-2-hover-bg:hover {
  background-color: #E4417B !important;
}

.color-primary-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #E4417B !important;
}

.color-primary-3 {
  color: #A9003C !important;
}

.color-primary-3-bg {
  background-color: #A9003C !important;
}

.color-primary-3-bd {
  border: 1px solid white;
  border-color: #A9003C !important;
}

.color-primary-3-hover:hover {
  color: #A9003C !important;
}

.color-primary-3-hover-bg:hover {
  background-color: #A9003C !important;
}

.color-primary-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #A9003C !important;
}

.color-primary-4 {
  color: #77002A !important;
}

.color-primary-4-bg {
  background-color: #77002A !important;
}

.color-primary-4-bd {
  border: 1px solid white;
  border-color: #77002A !important;
}

.color-primary-4-hover:hover {
  color: #77002A !important;
}

.color-primary-4-hover-bg:hover {
  background-color: #77002A !important;
}

.color-primary-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #77002A !important;
}

.color-secondary-1-0 {
  color: #F60C22 !important;
}

.color-secondary-1-0-bg {
  background-color: #F60C22 !important;
}

.color-secondary-1-0-bd {
  border: 1px solid white;
  border-color: #F60C22 !important;
}

.color-secondary-1-0-hover:hover {
  color: #F60C22 !important;
}

.color-secondary-1-0-hover-bg:hover {
  background-color: #F60C22 !important;
}

.color-secondary-1-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #F60C22 !important;
}

.color-secondary-1-1 {
  color: #FA808C !important;
}

.color-secondary-1-1-bg {
  background-color: #FA808C !important;
}

.color-secondary-1-1-bd {
  border: 1px solid white;
  border-color: #FA808C !important;
}

.color-secondary-1-1-hover:hover {
  color: #FA808C !important;
}

.color-secondary-1-1-hover-bg:hover {
  background-color: #FA808C !important;
}

.color-secondary-1-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #FA808C !important;
}

.color-secondary-1-2 {
  color: #F84758 !important;
}

.color-secondary-1-2-bg {
  background-color: #F84758 !important;
}

.color-secondary-1-2-bd {
  border: 1px solid white;
  border-color: #F84758 !important;
}

.color-secondary-1-2-hover:hover {
  color: #F84758 !important;
}

.color-secondary-1-2-hover-bg:hover {
  background-color: #F84758 !important;
}

.color-secondary-1-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #F84758 !important;
}

.color-secondary-1-3 {
  color: #BA0012 !important;
}

.color-secondary-1-3-bg {
  background-color: #BA0012 !important;
}

.color-secondary-1-3-bd {
  border: 1px solid white;
  border-color: #BA0012 !important;
}

.color-secondary-1-3-hover:hover {
  color: #BA0012 !important;
}

.color-secondary-1-3-hover-bg:hover {
  background-color: #BA0012 !important;
}

.color-secondary-1-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #BA0012 !important;
}

.color-secondary-1-4 {
  color: #83000D !important;
}

.color-secondary-1-4-bg {
  background-color: #83000D !important;
}

.color-secondary-1-4-bd {
  border: 1px solid white;
  border-color: #83000D !important;
}

.color-secondary-1-4-hover:hover {
  color: #83000D !important;
}

.color-secondary-1-4-hover-bg:hover {
  background-color: #83000D !important;
}

.color-secondary-1-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #83000D !important;
}

.color-secondary-2-0 {
  color: #C90A7E !important;
}

.color-secondary-2-0-bg {
  background-color: #C90A7E !important;
}

.color-secondary-2-0-bd {
  border: 1px solid white;
  border-color: #C90A7E !important;
}

.color-secondary-2-0-hover:hover {
  color: #C90A7E !important;
}

.color-secondary-2-0-hover-bg:hover {
  background-color: #C90A7E !important;
}

.color-secondary-2-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #C90A7E !important;
}

.color-secondary-2-1 {
  color: #E173B6 !important;
}

.color-secondary-2-1-bg {
  background-color: #E173B6 !important;
}

.color-secondary-2-1-bd {
  border: 1px solid white;
  border-color: #E173B6 !important;
}

.color-secondary-2-1-hover:hover {
  color: #E173B6 !important;
}

.color-secondary-2-1-hover-bg:hover {
  background-color: #E173B6 !important;
}

.color-secondary-2-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #E173B6 !important;
}

.color-secondary-2-2 {
  color: #D03C96 !important;
}

.color-secondary-2-2-bg {
  background-color: #D03C96 !important;
}

.color-secondary-2-2-bd {
  border: 1px solid white;
  border-color: #D03C96 !important;
}

.color-secondary-2-2-hover:hover {
  color: #D03C96 !important;
}

.color-secondary-2-2-hover-bg:hover {
  background-color: #D03C96 !important;
}

.color-secondary-2-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #D03C96 !important;
}

.color-secondary-2-3 {
  color: #98005C !important;
}

.color-secondary-2-3-bg {
  background-color: #98005C !important;
}

.color-secondary-2-3-bd {
  border: 1px solid white;
  border-color: #98005C !important;
}

.color-secondary-2-3-hover:hover {
  color: #98005C !important;
}

.color-secondary-2-3-hover-bg:hover {
  background-color: #98005C !important;
}

.color-secondary-2-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #98005C !important;
}

.color-secondary-2-4 {
  color: #6B0041 !important;
}

.color-secondary-2-4-bg {
  background-color: #6B0041 !important;
}

.color-secondary-2-4-bd {
  border: 1px solid white;
  border-color: #6B0041 !important;
}

.color-secondary-2-4-hover:hover {
  color: #6B0041 !important;
}

.color-secondary-2-4-hover-bg:hover {
  background-color: #6B0041 !important;
}

.color-secondary-2-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #6B0041 !important;
}

.color-tertiary-1-0 {
  color: #FFA70C !important;
}

.color-tertiary-1-0-bg {
  background-color: #FFA70C !important;
}

.color-tertiary-1-0-bd {
  border: 1px solid white;
  border-color: #FFA70C !important;
}

.color-tertiary-1-0-hover:hover {
  color: #FFA70C !important;
}

.color-tertiary-1-0-hover-bg:hover {
  background-color: #FFA70C !important;
}

.color-tertiary-1-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #FFA70C !important;
}

.color-tertiary-1-1 {
  color: #FFD283 !important;
}

.color-tertiary-1-1-bg {
  background-color: #FFD283 !important;
}

.color-tertiary-1-1-bd {
  border: 1px solid white;
  border-color: #FFD283 !important;
}

.color-tertiary-1-1-hover:hover {
  color: #FFD283 !important;
}

.color-tertiary-1-1-hover-bg:hover {
  background-color: #FFD283 !important;
}

.color-tertiary-1-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #FFD283 !important;
}

.color-tertiary-1-2 {
  color: #FFBD49 !important;
}

.color-tertiary-1-2-bg {
  background-color: #FFBD49 !important;
}

.color-tertiary-1-2-bd {
  border: 1px solid white;
  border-color: #FFBD49 !important;
}

.color-tertiary-1-2-hover:hover {
  color: #FFBD49 !important;
}

.color-tertiary-1-2-hover-bg:hover {
  background-color: #FFBD49 !important;
}

.color-tertiary-1-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #FFBD49 !important;
}

.color-tertiary-1-3 {
  color: #C17B00 !important;
}

.color-tertiary-1-3-bg {
  background-color: #C17B00 !important;
}

.color-tertiary-1-3-bd {
  border: 1px solid white;
  border-color: #C17B00 !important;
}

.color-tertiary-1-3-hover:hover {
  color: #C17B00 !important;
}

.color-tertiary-1-3-hover-bg:hover {
  background-color: #C17B00 !important;
}

.color-tertiary-1-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #C17B00 !important;
}

.color-tertiary-1-4 {
  color: #875600 !important;
}

.color-tertiary-1-4-bg {
  background-color: #875600 !important;
}

.color-tertiary-1-4-bd {
  border: 1px solid white;
  border-color: #875600 !important;
}

.color-tertiary-1-4-hover:hover {
  color: #875600 !important;
}

.color-tertiary-1-4-hover-bg:hover {
  background-color: #875600 !important;
}

.color-tertiary-1-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #875600 !important;
}

.color-tertiary-2-0 {
  color: #3D1CB0 !important;
}

.color-tertiary-2-0-bg {
  background-color: #3D1CB0 !important;
}

.color-tertiary-2-0-bd {
  border: 1px solid white;
  border-color: #3D1CB0 !important;
}

.color-tertiary-2-0-hover:hover {
  color: #3D1CB0 !important;
}

.color-tertiary-2-0-hover-bg:hover {
  background-color: #3D1CB0 !important;
}

.color-tertiary-2-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #3D1CB0 !important;
}

.color-tertiary-2-1 {
  color: #8C78D3 !important;
}

.color-tertiary-2-1-bg {
  background-color: #8C78D3 !important;
}

.color-tertiary-2-1-bd {
  border: 1px solid white;
  border-color: #8C78D3 !important;
}

.color-tertiary-2-1-hover:hover {
  color: #8C78D3 !important;
}

.color-tertiary-2-1-hover-bg:hover {
  background-color: #8C78D3 !important;
}

.color-tertiary-2-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #8C78D3 !important;
}

.color-tertiary-2-2 {
  color: #5F45BA !important;
}

.color-tertiary-2-2-bg {
  background-color: #5F45BA !important;
}

.color-tertiary-2-2-bd {
  border: 1px solid white;
  border-color: #5F45BA !important;
}

.color-tertiary-2-2-hover:hover {
  color: #5F45BA !important;
}

.color-tertiary-2-2-hover-bg:hover {
  background-color: #5F45BA !important;
}

.color-tertiary-2-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #5F45BA !important;
}

.color-tertiary-2-3 {
  color: #290E85 !important;
}

.color-tertiary-2-3-bg {
  background-color: #290E85 !important;
}

.color-tertiary-2-3-bd {
  border: 1px solid white;
  border-color: #290E85 !important;
}

.color-tertiary-2-3-hover:hover {
  color: #290E85 !important;
}

.color-tertiary-2-3-hover-bg:hover {
  background-color: #290E85 !important;
}

.color-tertiary-2-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #290E85 !important;
}

.color-tertiary-2-4 {
  color: #1A075D !important;
}

.color-tertiary-2-4-bg {
  background-color: #1A075D !important;
}

.color-tertiary-2-4-bd {
  border: 1px solid white;
  border-color: #1A075D !important;
}

.color-tertiary-2-4-hover:hover {
  color: #1A075D !important;
}

.color-tertiary-2-4-hover-bg:hover {
  background-color: #1A075D !important;
}

.color-tertiary-2-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #1A075D !important;
}

.color-complement-0 {
  color: #79E60B !important;
}

.color-complement-0-bg {
  background-color: #79E60B !important;
}

.color-complement-0-bd {
  border: 1px solid white;
  border-color: #79E60B !important;
}

.color-complement-0-hover:hover {
  color: #79E60B !important;
}

.color-complement-0-hover-bg:hover {
  background-color: #79E60B !important;
}

.color-complement-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #79E60B !important;
}

.color-complement-1 {
  color: #B7F17B !important;
}

.color-complement-1-bg {
  background-color: #B7F17B !important;
}

.color-complement-1-bd {
  border: 1px solid white;
  border-color: #B7F17B !important;
}

.color-complement-1-hover:hover {
  color: #B7F17B !important;
}

.color-complement-1-hover-bg:hover {
  background-color: #B7F17B !important;
}

.color-complement-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #B7F17B !important;
}

.color-complement-2 {
  color: #97E943 !important;
}

.color-complement-2-bg {
  background-color: #97E943 !important;
}

.color-complement-2-bd {
  border: 1px solid white;
  border-color: #97E943 !important;
}

.color-complement-2-hover:hover {
  color: #97E943 !important;
}

.color-complement-2-hover-bg:hover {
  background-color: #97E943 !important;
}

.color-complement-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #97E943 !important;
}

.color-complement-3 {
  color: #58AE00 !important;
}

.color-complement-3-bg {
  background-color: #58AE00 !important;
}

.color-complement-3-bd {
  border: 1px solid white;
  border-color: #58AE00 !important;
}

.color-complement-3-hover:hover {
  color: #58AE00 !important;
}

.color-complement-3-hover-bg:hover {
  background-color: #58AE00 !important;
}

.color-complement-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #58AE00 !important;
}

.color-complement-4 {
  color: #3E7A00 !important;
}

.color-complement-4-bg {
  background-color: #3E7A00 !important;
}

.color-complement-4-bd {
  border: 1px solid white;
  border-color: #3E7A00 !important;
}

.color-complement-4-hover:hover {
  color: #3E7A00 !important;
}

.color-complement-4-hover-bg:hover {
  background-color: #3E7A00 !important;
}

.color-complement-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #3E7A00 !important;
}

.color-neutral-0 {
  color: #FFB6A5 !important;
}

.color-neutral-0-bg {
  background-color: #FFB6A5 !important;
}

.color-neutral-0-bd {
  border: 1px solid white;
  border-color: #FFB6A5 !important;
}

.color-neutral-0-hover:hover {
  color: #FFB6A5 !important;
}

.color-neutral-0-hover-bg:hover {
  background-color: #FFB6A5 !important;
}

.color-neutral-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #FFB6A5 !important;
}

.color-neutral-1 {
  color: #FFFFFF !important;
}

.color-neutral-1-bg {
  background-color: #FFFFFF !important;
}

.color-neutral-1-bd {
  border: 1px solid white;
  border-color: #FFFFFF !important;
}

.color-neutral-1-hover:hover {
  color: #FFFFFF !important;
}

.color-neutral-1-hover-bg:hover {
  background-color: #FFFFFF !important;
}

.color-neutral-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #FFFFFF !important;
}

.color-neutral-2 {
  color: #FFDCD3 !important;
}

.color-neutral-2-bg {
  background-color: #FFDCD3 !important;
}

.color-neutral-2-bd {
  border: 1px solid white;
  border-color: #FFDCD3 !important;
}

.color-neutral-2-hover:hover {
  color: #FFDCD3 !important;
}

.color-neutral-2-hover-bg:hover {
  background-color: #FFDCD3 !important;
}

.color-neutral-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #FFDCD3 !important;
}

.color-neutral-3 {
  color: #FF9279 !important;
}

.color-neutral-3-bg {
  background-color: #FF9279 !important;
}

.color-neutral-3-bd {
  border: 1px solid white;
  border-color: #FF9279 !important;
}

.color-neutral-3-hover:hover {
  color: #FF9279 !important;
}

.color-neutral-3-hover-bg:hover {
  background-color: #FF9279 !important;
}

.color-neutral-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #FF9279 !important;
}

.color-neutral-4 {
  color: #E36648 !important;
}

.color-neutral-4-bg {
  background-color: #E36648 !important;
}

.color-neutral-4-bd {
  border: 1px solid white;
  border-color: #E36648 !important;
}

.color-neutral-4-hover:hover {
  color: #E36648 !important;
}

.color-neutral-4-hover-bg:hover {
  background-color: #E36648 !important;
}

.color-neutral-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #E36648 !important;
}

.color-accent-0 {
  color: #00CE95 !important;
}

.color-accent-0-bg {
  background-color: #00CE95 !important;
}

.color-accent-0-bd {
  border: 1px solid white;
  border-color: #00CE95 !important;
}

.color-accent-0-hover:hover {
  color: #00CE95 !important;
}

.color-accent-0-hover-bg:hover {
  background-color: #00CE95 !important;
}

.color-accent-0-hover-bd:hover {
  border: 1px solid white;
  border-color: #00CE95 !important;
}

.color-accent-1 {
  color: #2BF7BF !important;
}

.color-accent-1-bg {
  background-color: #2BF7BF !important;
}

.color-accent-1-bd {
  border: 1px solid white;
  border-color: #2BF7BF !important;
}

.color-accent-1-hover:hover {
  color: #2BF7BF !important;
}

.color-accent-1-hover-bg:hover {
  background-color: #2BF7BF !important;
}

.color-accent-1-hover-bd:hover {
  border: 1px solid white;
  border-color: #2BF7BF !important;
}

.color-accent-2 {
  color: #00FEB8 !important;
}

.color-accent-2-bg {
  background-color: #00FEB8 !important;
}

.color-accent-2-bd {
  border: 1px solid white;
  border-color: #00FEB8 !important;
}

.color-accent-2-hover:hover {
  color: #00FEB8 !important;
}

.color-accent-2-hover-bg:hover {
  background-color: #00FEB8 !important;
}

.color-accent-2-hover-bd:hover {
  border: 1px solid white;
  border-color: #00FEB8 !important;
}

.color-accent-3 {
  color: #00936A !important;
}

.color-accent-3-bg {
  background-color: #00936A !important;
}

.color-accent-3-bd {
  border: 1px solid white;
  border-color: #00936A !important;
}

.color-accent-3-hover:hover {
  color: #00936A !important;
}

.color-accent-3-hover-bg:hover {
  background-color: #00936A !important;
}

.color-accent-3-hover-bd:hover {
  border: 1px solid white;
  border-color: #00936A !important;
}

.color-accent-4 {
  color: #00674A !important;
}

.color-accent-4-bg {
  background-color: #00674A !important;
}

.color-accent-4-bd {
  border: 1px solid white;
  border-color: #00674A !important;
}

.color-accent-4-hover:hover {
  color: #00674A !important;
}

.color-accent-4-hover-bg:hover {
  background-color: #00674A !important;
}

.color-accent-4-hover-bd:hover {
  border: 1px solid white;
  border-color: #00674A !important;
}
